<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script defer src="/js/script.js"></script>
    <title>Budgtr</title>
</head>

<body>
    <div class="container">
        <header>

            <div id="title">Budgtr</div>

        </header>

        <div id="main">

            <div id="budgetTb">
                <table>
                    <% budget.forEach(function(expenditure) { %>
                        <tr id="tableRow">
                            <td id="date">
                                <%= expenditure.date %>
                            </td>
                            <td class="name">
                                <% let id=budget.indexOf(expenditure)%>
                                    <a href="/budget/<%=id%>">
                                        <%=expenditure.name %>
                                    </a>
                            </td>
                            <td id="amount">
                                $<%= expenditure.amount %>
                            </td>
                        </tr>
                        <% })%>
                </table>
                <div>
                    <a href="/budget/new"><button type="button" class="btn back-btn">NEW ITEM</button></a>
                </div>
            </div>
        </div>
        <%- include(`./partials/footer`) %>
    </div>
</body>

</html>